body {
  text-align: center;
}
P {
  background-color: white;
  display: inline-flex;
  padding-left: 70%;
}

#Timer {
  float: right;
  font-size: large;
}

#user-answers {
  text-align: center;
  padding-top: 15%;
  font-size: x-large;
}

#user1 {
  font-size: large;
}
#user2 {
  font-size: large;
}
#user3 {
  font-size: large;
}
#user4 {
  font-size: large;
}
#user5 {
  font-size: large;
}
